body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f9;
}

#app {
    text-align: center;
}

#setup {
    margin-bottom: 20px;
}

#game-board {
    margin-top: 20px;
    display: grid;
    gap: 10px;
    justify-content: center;
}

.cell {
    width: 60px;
    height: 60px;
    border: 2px solid #333;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    text-transform: uppercase;
    background-color: white;
}

.cell.filled {
    border-color: #555;
}

.correct {
    background-color: red;
    color: white;
}

.incorrect {
    background-color: black;
    color: white;
}

.misplaced {
    background-color: yellow;
    color: black;
}

.keyboard-key {
    margin: 5px;
    padding: 10px;
    border: 1px solid #333;
    cursor: pointer;
    display: inline-block;
    font-size: 1.2rem;
}

#submit-word {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    display: none;
}
